---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-namespace-comments,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -unused-includes
  -google-readability-todo,
  -hicpp-avoid-c-arrays,
  -hicpp-no-array-decay,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvm-include-order,
  -llvm-qualified-auto,
  -misc-definitions-in-headers,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-this-instead-of-self,
  -modernize-use-this,
  -performance-avoid-endl,
  -readability-identifier-naming,
  -readability-namespace-comments,
  -readability-namespace-comments,
  -readability-uppercase-literal-suffix,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-union-access,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -misc-no-recursion

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
