[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/spirv-reflect"]
	path = libraries/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/vma"]
	path = libraries/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
